version: "3.8"

services:
  trino:
    image: trinodb/trino:latest
    container_name: trino
    ports:
      - "8080:8080"
    volumes:
      - ./trino/catalog:/etc/trino/catalog
    environment:
      AWS_PROFILE: default
      AWS_REGION: us-east-1
    networks:
      - data_net

  superset:
    image: apache/superset:4.1.1
    container_name: superset
    ports:
      - "8088:8088"
    environment:
      SUPERSET_SECRET_KEY: "must_be_changed_for_prod"
    volumes:
      - superset_home:/app/superset_home
    
    networks:
      - data_net
    depends_on:
      - trino
    command: >
      /bin/bash -c "
      superset db upgrade &&
      superset fab create-admin --username admin --firstname Admin --lastname User --email admin@superset.com --password admin &&
      superset init &&
      superset run -h 0.0.0.0 -p 8088
      "


volumes:
  superset_home:

networks:
  data_net:
    driver: bridge
